#background {
  background-image: url("https://i.ytimg.com/vi/bqlzoxTvOkE/maxresdefault.jpg");
  backround-repeat:no-repeat;
  position: fixed;
  right:0;
  left:0;
  top:0;
  bottom:0;
  width:100%;
  height:100%;
}
p{
  color: #ffffff;
  font-size: 30px
}

#pic{
  width:200px;
}
